<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="TCP_IP" value=""/>
		<add key="TCP_PORT" value="8889"/> <!--or event 8888 if needed--> 
	</appSettings>
</configuration>
